






#calculator {
    border: 2px solid rgb(44, 44, 44);
    border-radius: 5px;
    width: 12vw;
}

#display {
    margin: 10px;
    width: calc(100% - 30px);
    font-size: 25px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    width: 45px;
    height: 45px;
    margin: 10px;
}